<h1>All Users</h1>
<% if @users.any? %>
    <ul>
        <% @users.each do |user| %>
            <li><a href="/users/<%= user.slug %>"><%= user.name %></a><p>Member since: <%= user.created_at.try(:to_date) %></p></li>
            <br>
        <% end %>
    </ul>
<% else %>
    <h5>There are no users to display</h5>
<% end %>