<h1>Personal Property Homepage</h1>

<% if @properties.any? %>
    <ul>
        <% @properties.each do |property| %>
            <li><a href="/properties/<%= property.id %>"><%= property.address %></a></li>
            <br>
        <% end %>
    </ul>
<% else %>
    <h5>There are no properties to display</h5>
<% end %>
<a href="/properties/new">Create New Property</a>