<h1>Deed Library</h1>

<% if @deeds.any? %>
    <ul>
    <% @deeds.each do |deed| %>
        <li><a href="/deeds/<%= deed.id %>"><%= deed.property.address %></a></li>
        <br>
    <% end %>
    </ul>
<% else %>
    <h5>There are no deeds to display</h5>
    <br>
<% end %>
<p><u><a href="/properties/new">Record a property</a></u> to automagically generate a deed with your info!</p>