<h1>Personal Buildings Homepage</h1>
<% if @buildings.any? %>
    <ul>
        <% @properties.each do |property| %>
            <% if property.buildings.any? %>
                <h4><%= property.address %></h4>
                <% property.buildings.each do |building| %>
                    <li><a href="/buildings/<%= building.id %>"><%= building.year_built %></a></li>
                <% end %>
                <br>
            <% end %>
        <% end %>
    </ul>
<% else %>
    <h5>There are no buildings to display</h5>
<% end %>
<a href="/buildings/new">Create New Building</a>