<h1>Realtor-Deed MVC</h1>
<h2>Your "home" for managing your homes!</h2>
<% if !logged_in? %>
    <a href="/login"><h2>Login</h2></a>
    <a href="/signup"><h2>Signup</h2></a>
<% else %>
    <a href="/deeds"><h2>Deed Library</h2></a>
    <a href="/properties"><h2>Your Properties</h2></a>
<% end %>